@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'functions';
@import 'colors';
@import 'reset';
@import 'typography';
@import 'layout';
@import 'btn';
@import 'akrobat';

.pixel-perfect{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  opacity: .5;
}