html{
  scroll-behavior: smooth;
}

.container{
  width: 100%;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  @media(min-width:992px){
    width: rem(960);
  }
  @media(min-width:1200px){
    width: rem(1168);
  }
  @media(min-width:1666px){
    width: rem(1654);
  }
}

img{
  max-width: 100%;
  height: auto;
  max-height: none;
}

.pp{
  position: absolute;
  left: 50%; top: 0;
  transform: translateX(-50%);
  z-index: 999;
  opacity: .5;
  width: 1920px;
  height: auto;
  max-width: none;
}