@import 'b2b/anim.css';
@import 'b2b/base.min.css';
@import 'b2b/blocks.css';
@import 'b2b/modules.css';

@import 'base/all';

@import 'partials/header';
@import 'partials/footer';

section{
  position: relative;
  z-index: 2;
}

.main-wrap{
  overflow: hidden;
  min-height: 100vh;
  &__bg{
    position: absolute;
    z-index: 1;
    left: 45%;
    top: rem(-150);
  }
}

.section-titles{
  position: relative;
  padding-left: res(20, 40);
  margin-bottom: res(30, 66);
  &:before{
    content: "";
    display: block;
    width: res(2, 5);
    height: 100%;
    background: #388B2A;
    position: absolute;
    left: 0;
    top: 0;
  }
  h1, h2{
    text-transform: uppercase;
    margin-bottom: res(5, 15);
    span{
      color: #388B2A;
    }
  }
  h2{
    margin-bottom: res(15, 30);
  }
}

.banner{
  position: relative;
  background: url(../img/banner-bg.png) no-repeat center top/cover;
  @media(max-width:768px){
    padding-bottom: 50px;
  }
  h1{
    margin-bottom: res(5, 15);
  }
  .container{
    position: relative;
    z-index: 2;
    padding-top: res(70, 164);
    // min-height: 100vh;
    @media(min-width:768px){
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__list{
    padding-left: res(20, 50);
    margin-bottom: res(25, 50);
    li{
      font-weight: 500;
      line-height: 1.5;
      position: relative;
      padding-left: res(30, 38);
      svg{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
      }
      span{
        font-size: rem(14);
        display: block;
      }
      &:not(:first-child){
        margin-top: res(15, 26);
      }
    }
  }
  &__btn{
    margin-bottom: res(60, 94);
    @media(max-width:767px){
      .btn{
        display: block;
        margin-right: auto;
        margin-left: auto;
      }
    }
    @media(min-width:768px){
      margin-left: res(20, 50);
    }
  }
  &__consultation{
    position: relative;
    z-index: 4;
    @media(max-width:767px){
      text-align: center;
      margin-bottom: 30px;
    }
    &__inner{
      padding: res(10, 50) res(15, 66);
      border-radius: 30px 30px 0px 0px;
      background: #FFF;
      @media(min-width:768px){
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    &__text{
      font-size: res(14, 18);
      font-weight: 600;
      line-height: 1.44;
      text-transform: uppercase;
      margin-bottom: 16px;
      @media(min-width:768px){
        margin-right: res(5, 15);
        margin-bottom: 0;
      }
      span{
        color: #388B2A;
      }
      @media(max-width:767px){
        br{
          display: none;
        }
      }
    }
  }
  &__back{
    @media(max-width:767px){
      position: relative;
    }
    @media(min-width:768px){
      position: absolute;
      left: 49%; right: 1rem;
      top: 0;
      height: 100%;
      z-index: 1;
      min-height: 100%;
      width: 58%;
    }
  }
  &__male{
    position: relative;
    z-index: 3;
    @media(min-width:768px){
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-24%);
      width: 68%;
    }
  }
  &__green{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 2;
    width: 50%;
    @media(min-width:768px){
      width: 43%;
    }
  }
  &__brown{
    position: absolute;
    left: 50%;
    height: calc(100% - 90px);
    z-index: 1;
    @media(max-width:767px){
      bottom: 0;
      width: 50%;
      height: auto;
    }
    @media(min-width:768px){
      left: 43%;
      top: rem(90);
    }
  }
  &__listok{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: soft-light;
  }
  &__doska{
    position: absolute;
    bottom: -18%;
    left: 11%;
    z-index: 4;
    width: 75%;
  }
}

.about{
  padding-top: res(70, 210);
  padding-bottom: 50px;
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    width: 100%;
    border-radius: 10px;
    background: #FCFAD6;
    padding: 110px 0 40px 20px;
    position: relative;
    overflow: hidden;
    @media(min-width:768px){
      width: calc(100% / 4);
      padding: 120px 0 55px 50px;
    }
    p{
      max-width: 268px;
      span{
        color: #388B2A;
      }
    }
    p + p{
      font-size: 14px;
      margin-top: 20px;
    }
    img{
      display: block;
      position: absolute;
      top: 0; right: 0;
    }
    @media(max-width:767px){
      &:not(:first-child){
        margin-top: 30px;
      }
    }
    @media(min-width:768px){
      .section-titles{
        margin-bottom: 95px;
        h2{
          margin-bottom: 30px;
        }
      }
      &:nth-child(2){
        transform: translateY(-52px);
      }
      &:nth-child(3){
        transform: translateY(-105px);
      }
      &:nth-child(4){
        transform: translateY(-205px);
      }
    }
    &:nth-child(4){
      img{
        bottom: 0;
        top: auto;
      }
    }
    &:nth-child(odd){
      background: #F5F5F4;
    }
  }
  &__num{
    opacity: 0.05;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    top: 35px;
  }
  &__brown{
    position: relative;
    min-height: 320px;
    border-radius: 10px;
    border: 1px dashed #000;
    background: #563D25;
    width: 100%;
    margin-left: auto;
    color: #FFF;
    font-size: res(18, 24);
    font-weight: 400;
    line-height: 1.58;
    padding: res(30, 58);
    @media(min-width:768px){
      width: 64.7%;
    }
    &:before{
      content: "";
      mix-blend-mode: lighten;
      background: url(../img/about-brown.png) no-repeat 0 0/cover;
      display: block;
      position: absolute;
      left: 0; top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    &-wrap{
      position: relative;
      z-index: 3;
    }
    a{
      font-size: res(24, 48);
      font-weight: 700;
      line-height: 1.25;
      display: block;
      margin-top: 10px;
      margin-bottom: rem(32);
    }
  }
  &__svg{
    @media(max-width:767px){
      width: 100%;
      height: auto;
    }
    @media(min-width:768px){
      position: absolute;
      right: 64%;
      bottom: 0;
    }
  }
  &__bottom{
    position: relative;
    // margin-top: 30px;
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
      margin-top: -10px;
    }
  }
  &__doski{
    z-index: 2;
    margin-top: 30px;
    @media(min-width:768px){
      margin-top: 0;
      position: absolute;
      top: 7px;
      left: 35%;
    }
    img{
      display: block;
    }
  }
  &__sign{
    display: flex;
    align-items: flex-start;
    padding: 9px 20px;
    border-radius: 10px;
    border: 2px dashed rgba(13,13,13,0.2);
    background: #FFF;
    font-size: res(13, 15);
    margin-top: 10px;
    @media(min-width:768px){
      margin-top: 0;
      position: absolute;
      top: 75px;
      right: 64px;
      transform: translateX(170px);
    }
    svg{
      width: 24px;
      height: auto;
      margin-right: 20px;
    }
    span{
      color: #030303;
      display: block;
      line-height: 1;
    }
  }
}

.catalog{
  background: url(../img/catalog-bg.png) no-repeat left bottom;
  padding-top: res(50, 100);
  padding-bottom: res(50, 125);
  .section-titles{
    margin-bottom: res(30, 56);
  }
  &__tabs{
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
  }
  &__nav{
    width: 100%;
    margin-bottom: 2rem;
    @media(min-width:768px){
      width: 352px;
      margin-bottom: 0;
    }
    &-item{
      border: 1px solid rgba(0, 0, 0, 0.10);
      background: #FFF;
      padding: res(10, 25) res(15, 30);
      color: #151515;
      &.active{
        background: #90B24C;
        color: #fff;
      }
      *{
        pointer-events: none;
      }
      h6{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.57;
      }
    }
  }
  &__tab{
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    overflow: hidden;
    @media(max-width:767px){
      display: none;
    }
    @media(min-width:768px){
      width: calc(100% - 362px);
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: right .5s ease, 1s ease;
      right: -100%;
    }
    &.active{
      @media(max-width:767px){
        display: block;
      }
      @media(min-width:768px){
        right: 0;
        position: relative;
        visibility: visible;
        opacity: 1;
        transition: right .5s ease .5s, 1s ease, position 0s 1s;
      }
    }
  }
  .product{
    background: #563D25;
    color: #fff;
    padding: 2rem 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    @media(min-width:768px){
      width: calc(50% - 12px);
      padding: 27px 20px 10px;
    }
    &__left{
      width: 100%;
      @media(min-width:768px){
        width: 62%;
      }
    }
    &__info{
      width: 100%;
      @media(min-width:768px){
        width: 38%;
        padding-left: 40px;
      }
    }
    &__slider{
      img{
        display: block;
        width: calc(100% - 2rem);
        margin-left: auto;
        margin-right: auto;
        height: auto;
      }
      .slick-arrow{
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid #fff;
        svg{
          fill: none;
          width: 7px;
          height: auto;
        }
      }
    }
    &__nav{
      img{
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
      }
      .slick-list{
        padding: 0 !important;
      }
      .slick-active{
        opacity: .5;
        transition: .5s ease;
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
      .slick-center{
        opacity: 1;
      }
    }
    h4{
      margin-bottom: 17px;
    }
    h5{
      margin-bottom: 15px;
    }
    &__sort{
      margin-bottom: 15px;
      span{
        border-radius: 10px;
        border: 1px solid #388B2A;
        padding: 5px 10px;
        margin-left: 15px;
      }
    }
    &__upakovka{
      color: #000;
      font-size: 14px;
      line-height: 1.57;
      margin-bottom: res(30, 62);
      span{
        display: inline-block;
        border-radius: 10px;
        background: #FCFAD6;
        padding: 5px 10px;
      }
    }
    &__price{
      margin-top: auto;
      margin-bottom: 22px;
      font-size: 14px;
      display: flex;
      span{
        font-size: 20px;
        font-weight: 700;
        margin-left: auto;
        display: inline-block;
      }
    }
    .btn{
      padding: 10px 25px;
      width: 100%;
    }
  }
}

.zakaz{
  @media(max-width:767px){
    padding: 50px 0;
  }
  @media(min-width:768px){
    margin-top: -90px;
    margin-bottom: 170px;
  }
  &__wrap{
    position: relative;
    border-radius: 10px;
    background: #FCFAD6;
    font-size: res(16, 24);
    font-weight: 400;
    line-height: 1.58;
    padding-left: res(16, 52);
    padding-top: res(30, 40);
    padding-right: res(16, 50);
    padding-bottom: res(30, 50);
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &:before{
      content: "";
      mix-blend-mode: lighten;
      background: url(../img/about-brown.png) no-repeat 0 0/cover;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      border-radius: 10px;
    }
  }
  &__info{
    @media(max-width:767px){
      margin-bottom: 16px;
      text-align: center;
    }
    h3{
      font-size: res(20, 30);
      margin-bottom: res(10, 30);
    }
    a {
      font-size: res(24, 48);
      font-weight: 700;
      line-height: 1.25;
      display: block;
      margin-top: 10px;
      margin-bottom: 22px;
    }
  }
  &__img{
    @media(min-width:768px){
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translate(-40%, 0);
    }
    &-sign{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 7px 20px 7px 64px;
      border-radius: 10px;
      border: 2px dashed rgba(13,13,13,0.2);
      background: #FFF;
      font-size: 15px;
      width: 100%;
      position: relative;
      margin-top: 1rem;
      @media(min-width:768px){
        margin-top: 0;
        position: absolute;
        top: 25px;
        left: -10px;
        width: 263px;
      }
      span{
        color: #030303;
        display: block;
        line-height: 1;
        color: #030303;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
      }
      svg{
        position: absolute;
        left: 20px;
        top: 9px;
      }
    }
  }
  &__nalichie{
    margin-left: auto;
    display: inline-block;
    padding: res(10, 30) res(10, 30) res(10, 30) res(10, 106);
    border-radius: 10px;
    border: 1px dashed #563D25;
    width: 100%;
    margin-top: 30px;
    @media(min-width:768px){
      margin-left: auto;
      display: inline-block;
      width: rem(540);
    }
    p{
      font-size: res(16, 30);
      line-height: 1.26;
      margin-bottom: res(16, 28);
      & + p{
        margin-bottom: 0;
        font-size: res(13, 18);
        line-height: 1.44;
        span{
          margin-left: 10px;
          border-radius: 10px;
          border: 1px solid rgba(54, 54, 54, 0.20);
          padding: 5px 10px;
        }
      }
    }
  }
  .slick-arrow{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 0;
    svg{
      fill: none;
      display: flex;
      justify-content: center;
      align-iteems: center;
      width: 5px;
      height: auto;
    }
  }
}

.slick-arrow{
  &__prev{
    left: 0;
  }
  &__next{
    right: 0;
  }
}

.other{
  padding-bottom: res(50, 150);
  .container{
    position: relative;
  }
  .section-titles{
    margin-bottom: res(30, 96);
  }
  &__svg{
    position: absolute;
    right: 0; top: 0;
    transform: translate(50%, -50%);
  }
  &__katalog{
    position: absolute;
    left: 50%;
    top: 30px;
  }
  &__nav{
    display: inline-flex;
    border-radius: 50px;
    border-bottom: 3px solid #D4D4D4;
    background: #FAFAFA;
    position: relative;
    margin-bottom: 50px;
    &:before{
      content: "";
      position: absolute;
      left: 45%;
      top: 0;
      width: 55%;
      height: 100%;
      z-index: 1;
      background: url(../img/other-bg.png) no-repeat 0 0/100% auto;
    }
  }
  &__btn{
    color: rgba(0, 0, 0, 0.50);
    font-size: res(13, 18);
    font-weight: 700;
    line-height: 26px;
    padding: res(10, 20) res(20, 41) res(10, 20) res(20, 42);
    border-radius: 50px;
    border: none;
    background: none;
    border-bottom: 3px solid transparent;
    position: relative;
    z-index: 2;
    transition: .5s ease;
    transform: translateY(3px);
    @media(min-width:768px){

    }
    &.active{
      color: #90B24C;
      border-bottom-color: #789739;
      transform: translateY(0);
    }
    &:hover{
      color: #90B24C;
    }
  }
  &__tab{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
    width: 100%;
    &.active{
      visibility: visible;
      opacity: 1;
      position: relative;
    }
  }
  &__wrap{
    margin-bottom: 56px;
  }
  &__slider{
    @media(max-width:767px){
      margin-bottom: 8rem;
    }
  }
  &__item{
    padding: res(30, 47) res(16, 30) res(16, 30) res(16, 30);
    border-radius: 10px;
    background: #F9F9F7;
    position: relative;
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: res(200, 270);
      margin-bottom: res(16, 33);
    }
    h6{
      color: #151515;
      font-size: res(16, 18);
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      margin-bottom: 11px;
    }
    p{
      color: #151515;
      font-size: res(13, 14);
      font-weight: 500;
      line-height: 1.57;
      margin-bottom: 30px;
      &+p{
        margin-bottom: 30px;
        color: #000;
        font-size: res(15, 18);
        line-height: 1.4;
        span{
          padding: 5px 10px;
          border-radius: 10px;
          border: 1px solid rgba(0, 0, 0, 0.10);
          margin-left: 8px;
        }
      }
    }
    .btn {
      padding: 11px 52px;
      @media(max-width:767px){
        width: 100%;
      }
    }
  }
  &__nalichie{
    border-radius: 10px;
    background: #FFF;
    padding: 7px 20px 7px 64px;
    position: absolute;
    left: 0;
    top: 0;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    svg{
      position: absolute;
      left: 20px;
      top: 7px;
    }
  }
  .slick-arrow{
    background: #fff;
    border: none;
    width: 62px;
    height: 62px;
    padding: 0;
    border: 1px solid #8C7765;
    border-radius: 50%;
    svg{
      width: 9px;
      height: auto;
    }
    @media(max-width:767px){
      top: calc(100% + 16px);
      &__prev{
        left: 2rem;
      }
      &__next{
        right: 2rem;
      }
    }
    @media(min-width:768px){
      &__prev{
        transform: translateX(-25%);
      }
      &__next{
        transform: translateX(25%);
      }
    }
  }
  .slick-slide{
    padding-left: 15px;
    padding-right: 15px;
  }
  &__bottom{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
    }
    .btn {
      padding: res(10, 20) res(30, 53);
    }
  }
  &__left, &__right{
    width: 100%;
    position: relative;
    border-radius: 10px;
    @media(min-width:768px){
      width: calc(50% - 15px);
    }
    &:before{
      border-radius: 10px;
      content: "";
      mix-blend-mode: lighten;
      background: url(../img/about-brown.png) no-repeat 0 0/cover;
      display: block;
      position: absolute;
      left: 0; top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  &__left{
    border: 1px dashed #000;
    background: #563D25;
    color: #FFF;
    font-size: res(18, 24);
    font-weight: 400;
    line-height: 1.58;
    padding: res(30, 58) res(16, 58);
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
    }
    a{
      font-size: res(20, 48);
      font-weight: 700;
      line-height: 1.25;
      display: block;
      margin-top: 8px;
      margin-bottom: 32px;
    }
    img{
      display: block;
      position: absolute;
      right: 0;
      @media(max-width:767px){
        width: 25%;
        bottom: 0;
      }
      @media(min-width:768px){
        top: 5px;
      }
    }
  }
  &__right{
    background: #FCFAD6;
    @media(max-width:767px){
      padding: 2rem 1rem;
      text-align: center;
    }
    img{
      display: block;
      @media(max-width:767px){
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
      }
      @media(min-width:768px){
        position: absolute;
        left: -44px;
        top: -19px;
      }
    }
    .btn{
      @media(min-width:768px){
        position: absolute;
        right: 70px;
        bottom: 58px;
      }
    }
  }
}

.sauni{
  padding-bottom: res(50, 147);
  &__bg{
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  &__list{
    @media(min-width:768px){
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: -160px;
      margin-bottom: 68px;
    }
  }
  &__item{
    padding: res(16, 18) res(16, 20) res(16, 20) res(80, 100);
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    position: relative;
    margin-bottom: res(16, 30);
    @media(min-width:768px){
      width: calc(100% / 4 - 15px);
      &:first-child{
        margin-left: calc(100% - (100% / 4 - 15px));
      }
    }
    svg{
      display: block;
      position: absolute;
      left: res(16, 20);
      top: res(16, 20);
      width: res(45, 70);
    }
    h6{
      color: #151515;
      font-family: 'Akrobat';
      font-size: res(16, 20);
      font-weight: 700;
      margin-bottom: 1rem;
    }
    p{
      color: #151515;
      font-size: res(12, 14);
      font-weight: 500;
      line-height: 1.57;
    }
  }
  &__bottom{
    border: 1px dashed #000;
    background: #563D25;
    color: #FFF;
    font-size: res(18, 30);
    font-weight: 400;
    line-height: 1.3;
    padding: res(30, 38) res(16, 50);
    width: 100%;
    position: relative;
    border-radius: 10px;
    @media(max-width:767px){
      text-align: center;
      br{
        display: none;
      }
    }
    &:before{
      border-radius: 10px;
      content: "";
      mix-blend-mode: lighten;
      background: url(../img/about-brown.png) no-repeat 0 0/cover;
      display: block;
      position: absolute;
      left: 0; top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    a{
      font-size: res(24, 48);
      font-weight: 700;
      line-height: 1.25;
      display: block;
      margin-top: res(16, 27);
      margin-bottom: res(16, 25);
    }
    img{
      display: inline-block;
      @media(max-width:767px){
        width: 200px;
        margin-top: 2rem;
      }
      @media(min-width:768px){
        position: absolute;
        right: 97px;
        top: -31px;
      }
    }
  }
}

$quality_width: 1070px;
$quality_left: calc((100vw - 1654px + 32px) / 2  + 1070px);

.quality{
  background: url(../img/quality-bg.png) no-repeat 0 0/100% 100%;
  position: relative;
  @media(min-width:768px){
    background-size: 60% 100%;
  }
  .container{
    position: relative;
    padding-top: res(50, 109);
  }
  &__svg{
    display: block;
    margin-top: res(-40, -66);
    @media(max-width:767px){
      width: 100%;
    }
  }
  &__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item{
    position: relative;
    padding: res(70, 130) res(16, 30) res(16, 30);
    font-size: res(13, 16);
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: none;
    width: 50%;
    &:first-child{
      margin-left: 50%;
    }
    svg{
      display: block;
      position: absolute;
      left: res(16, 30);
      top: res(16, 30);
      width: res(40, 70);
      height: auto;
    }
    &-yellow{
      background: #FCFAD6;
    }
    &-green{
      color: #FFF;
      background: #90B24C;
    }
    &-white{
      background: #FFF;
    }
    &-img{
      img{
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  &__brown{
    background: #563D25;
    color: #fff;
    padding: 85px;
    padding-bottom: 240px;
    position: absolute;
    left: $quality_left;
    right: 0;
    top: 0;
  }
  &__img{
    &-brown{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
    &-letter{
      position: absolute;
      left: 0;
      bottom: -106px;
    }
  }
  &__info{
    max-width: 465px;
    p{
      margin-bottom: 30px;
    }
    &-box{
      border-radius: 20px;
      border: 2px dashed #FFF;
      position: relative;
      padding: 20px 20px 20px 84px;
      display: inline-block;
      svg{
        display: block;
        position: absolute;
        left: 20px; top: 20px;
      }
    }
  }
  &__row{
    position: relative;
    @media(min-width:768px){
      margin-top: -200px;
      padding-left: 276px;
      max-width: $quality_width;
    }
  }
}

.products{
  padding-top: res(50, 150);
  padding-bottom: res(50, 80);
  &__bg{
    position: absolute;
    right: 50%; top: 0;
    z-index: 1;
  }
  .container{
    position: relative;
    z-index: 2;
  }
  .section-titles{
    margin-bottom: 30px;
    h2{
      margin-bottom: 0;
    }
  }
  h3{
    margin-left: res(20, 40);
    margin-bottom: res(30, 50);
  }
  &__slider{
    .slick-arrow{
      background: #fff;
      border: none;
      width: 62px;
      height: 62px;
      padding: 0;
      border: 1px solid #8C7765;
      border-radius: 50%;
      svg{
        width: 9px;
        height: auto;
      }
      @media(max-width:767px){
        top: calc(100% + 16px);
        &__prev{
          left: 2rem;
        }
        &__next{
          right: 2rem;
        }
      }
      @media(min-width:768px){
        &__prev{
          transform: translateX(-25%);
        }
        &__next{
          transform: translateX(25%);
        }
      }
    }
    .slick-slide{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &__bottom{
    position: relative;
    min-height: 576px;
    margin-top: res(120, 150);
    border-radius: 10px;
    padding: res(30, 50) res(16, 50);
    background: #563D25 url(../img/product-bottom.png) 0 0/100% 100%;
    @media(min-width:768px){
      display: flex;
    }
    .section-titles{
      color: #fff;
      margin-bottom: res(30, 100);
      &:before{
        background: #fff;
      }
      h2{
        margin-bottom: 30px;
      }
      h3{
        margin-left: 0;
      }
    }
    &__left{
      width: 52%;
    }
    &__form{
      margin-left: 74px;
    }
  }
  &__yellow{
    max-width: 571px;
    min-height: 183px;
    border-radius: 20px;
    background: #FCFAD6;
    padding: res(16, 33) res(16, 33) res(16, 21);
    text-align: center;
    position: relative;
    @media(min-width:768px){
      margin-left: 32px;
    }
    h4{
      color: #563D25;
      margin-bottom: 9px;
      text-align: left;
    }
    a{
      color: #388B2A;
      font-family: 'Akrobat', sans-serif;
      font-size: res(18, 30);
      font-weight: 700;
      line-height: 1.3;
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 2px dashed #388B2A;
      text-align: center;
      display: inline-block;
    }
  }
  &__reserved{
    @media(min-width:768px){
      position: absolute;
      bottom: 0;
      left: 100%;
      transform: translateX(-46%);
    }
  }
  &__form{
    border-radius: 10px;
    border: 5px solid #FFF;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10), 0px 4px 20px 0px rgba(0, 0, 0, 0.10) inset;
    padding: res(30, 40) res(16, 30);
    position: relative;
    z-index: 2;
    margin-top: 30px;
    @media(min-width:768px){
      margin-left: 70px;
      margin-bottom: 0;
    }
    h6{
      color: #000;
      text-align: center;
      font-family: 'Akrobat';
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      text-transform: uppercase;
      margin-bottom: 40px;
      span{
        color: #388B2A;
        @media(min-width:768px){
          display: block;
        }
      }
    }
  }
  &__drova{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.field{
  margin-bottom: 20px;
  &-flex{
    display: flex;
  }
  label{
    color: #000;
    font-family: 'Akrobat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    display: block;
    margin-bottom: 5px;
  }
  input{
    display: block;
    width: 100%;
    padding: 14px 20px;
    border-radius: 5px;
    background: #F2F2F2;
    border: none;
    &[type="checkbox"]{
      border-radius: 2px;
      border: 1px solid #C0C0C0;
      width: 17px;
      height: 17px;
      & + label{
        padding-left: 15px;
      }
    }
  }
}


.form{
  button[type="submit"]{
    width: 100%;
    display: block;
  }
}

