.main-footer{
  &__row{
    padding-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    @media(min-width:992px){
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
    }
    @media(min-width:1666px){
      align-items: center;
      flex-direction: row;
    }
  }
  &__inner {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    @media(min-width:768px){
      flex-direction: row;
    }
  }
  &__info{
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.5;
    // width: 100%;
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
    @media(min-width:992px){
      width: 50%;
      margin-right: 0px;
    }
    &-row{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      @media(min-width:768px){
        flex-direction: row;
        max-width: 560px;
        // margin-right: 60px;
      }
      .btn{
        width: 270px;
        position: relative;
        padding: 15px 10px 15px 35px;
        text-align: left;
        overflow: visible;
        display: block;
        @media(max-width:991px){
          margin-top: 1rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 2rem;
        }
        img{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%)
        }
      }
    }
    svg{
      margin-right: rem(10);
      path{
        fill: #388B2A;
      }
    }
    &-sm{
      font-size: rem(12);
    }
  }
  &__contact {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media(min-width:768px){
     width: 170px;
    }
  }
  &__slogan{}
  .logo{
    display: block;
    margin-right: clamp(10px, cqi(22), 22px);
  }
  .btn__phone{
    margin-bottom: 15px;
    display: block;
  }
  ul{
    padding-top: 14px;
    li{
      position: relative;
      padding: 0;
      margin: 0;
      padding-left: 17px;
      &:before{
        content: "";
        background: #388B2A;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0;
        top: 8px;
      }
      &:not(:first-child){
        margin-top: 8px;
      }
    }
  }
  &__first{
    @media(min-width:768px){
      width: 260px;
      margin-right: 50px;
    }
    @media(max-width:991px){
      margin-bottom: 20px;
    }
  }
  &__second{
    @media(max-width:991px){
      margin-bottom: 30px;
    }
    @media(min-width:1666px){
      margin-right: 60px;
    }
  }
  &__bottom{
    padding-bottom: 15px;
    padding-top: 30px;
    font-size: res(10, 12);
    @media(max-width:991px){
      text-align: center;
      div{
        padding-bottom: 10px;
      }
    }
    @media(min-width:992px){
      display: flex;
      justify-content: space-between;
    }
  }
  &__powered{
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width:992px){
      justify-content: space-between;
    }
    svg{
      margin-left: 10px;
    }
  }
  .btn-white{
    padding: 12px 20px;
  }
}