.main-header{
  border-bottom: 1px solid #E7E7E7;
  z-index: 10;
  position: fixed;
  left: 0; right: 0;
  top: 0;
  transition: background .5s ease;
  @media(max-width:1666px){
    background: #fff;
  }
  .container{
    position: relative;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: res(10, 17.5) 0;
    
    a {
      text-align: right;
      @media(max-width:1666px){
        font-size: rem(16);
      }
    }
  }
  &__info{
    font-size: res(12, 14);
    font-weight: 400;
    line-height: 1.5;
    display: none;
    margin-left: 10px;
    @media(min-width:992px){
      display: flex;
      align-items: flex-start;
      margin-left: 15px;
    }
    @media(min-width:1666px){
      margin-left: 42px;
    }
    svg{
      margin-right: res(5, 10);
      height: auto;
      width: 18px;
      display: block;
      @media(min-width:1200px){
        width: 24px;
      }
      @media(max-width:1665px){
        path{ fill: #388B2A; }
      }
    }
    &-sm{
      font-size: rem(12);
    }
  }
  &__first{
    @media(min-width:992px) and (max-width:1665px){
      margin-left: auto;
    }
  }
  &__white{
    @media(min-width:1666px){
      color: #FFF;
    }
  }
  &__slogan{
    display: none;
    font-size: 14px;
    @media(min-width:576px){
      display: block;
    }
    @media(min-width:1666px){
      font-size: 16px;
    }
  }
  &__logo{
    @media(min-width:1666px){
      margin-right: clamp(100px, cqi(255), 255px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .logo{
    display: block;
    width: res(80, 151);
    @media(min-width:1666px){
      margin-right: clamp(10px, cqi(22), 22px);
    }
    svg{
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .btn__phone{
    margin-right: 10px;
    margin-left: auto;
    font-size: res(14, 16);
    @media(min-width:992px){
      margin-right: 20px;
      margin-left: 30px;
    }
    @media(min-width:1666px){
      margin-left: auto;
      margin-right: 49px;
    }
  }
  &.scrolling{
    background: #fff;
    .main-header__white{
      color: #000;
      svg path{
        fill: #388B2A;
      }
    }
  }
  .btn-white{
    @media(max-width:575px){
      display: none;
    }
    font-size: 14px;
    padding: 10px 15px;
    @media(min-width:1200px){
      font-size: 16px;
      padding: 13px 20px;
    }
  }
}
